<h1 id="inglist"> List Ingredient </h1>
<div class="table-responsive">
<table class="table table-striped" id="list">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Edit</th>
    </tr>
    {{#each model as |item|}}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td id="inputtd">
                {{input  value=item.name class="form-control"}}
                   
            </td>
            
            <td>
                 <button class="btn btn-success" id="savebutton"
	            {{action "save"}}>
                Save
                </button>
            </td>
        </tr>
    {{/each}}
</table> 
</div>
{{outlet}}
